/*表单元素*/
/*input所在div*/
.row
{
    height: 34px;
    line-height:34px;
    width: auto;
    font-size:14px;
}
p 
{
    margin-bottom:10px;
}
.col_input
{
    width:200px;
    height:22px;
    border:1px solid #317eb4;
    margin:6px 10px;
    float: left;    
}
select
{
    width: 200px;
    height: 28px;
    font-size: 14px;
    border:1px solid #317eb4;
    margin:6px 10px;
}
option
{
    font-size: 14px;
}
/*********/

/*button按钮*/
.stu_btn
{
	background: #82b440;
	display: inline-block;
    width:auto;
    height:auto;
    padding:2px 5px;
	color: #fff;
    font-size:14px;
    border-radius:6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
    -o-border-radius:6px;
	cursor: pointer;
}

.col_span 
{
    display:block;
    float:left;
    font-size:14px;
    height: 26px;
}
p
{
    font-size:14px;
    width:auto;
    height:auto;
    line-height:34px;
    padding:0;
}
a
{
    display: block;
    float: left;
    text-decoration:none;
    color:#3992d0;
}
a:hover
{
    color: #903;
}
h1
{
    font-size:18px;
}      
.ul 
{
     width:auto;
     margin-left:20px;
     margin-top:2px;
}
.float
{
    float: left;
}
li 
{
    height:30px;
    line-height:30px;
    list-style:none;
}

/*button宽度大小*/
.sm
{
    width: 80px;
}
.md
{
    width: 120px;
}
.lg
{
    width: 160px;
}

/*margin-left的长度*/
.mar1
{
    margin-left:30px;
}
.mar2
{
    margin-left: 80px;
}
.mar3
{
    margin-left: 120px;
}